/* CSS Stylesheet for SummaryView */
body {
    font-family: Avenir;
	background-image: url(../images/scribble_light.png);
}

header .intro-text {
	font-size: 30px;
	text-align: center;
	padding: 70px;
	margin-top: 30px;
	background-color: orangered;
	color: white;
	width: auto;
}

#wrapper {
	width: 90%;
	height: auto;
	min-width: 1000px;
	margin: 20px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	max-width: 100%;
	height: auto;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	padding-bottom: 0px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	position: relative;
	max-width: 100%;
	height: auto;
}

.pin p {
	position: absolute;
	font: 10px/18px Avenir, sans-serif;
	color: #333;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

/* for itemTemplate */
h2 {
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

/* for itemTemplate */
container {
	width: 100px;
	height: 100px;
}

imgText {
	position: relative;
	width: 200px;
	border: 1px; 
	border-color: black;
}

div span { 
   color: white; 
   font: light 18px avenir; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

div .span1 {
   color: white; 
   font: light 14px avenir;
   letter-spacing: 1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

div.item_wrapper {
float: left; /* important */  
position:relative; /* important(so we can absolutely position the description div */  
width: 100%;
height: auto;
}  

div#one {
	left: 0;
	bottom: 0;
    position: absolute;
    width: 50%;
    height: auto;
    background: rgba(0, 0, 0);
    float: left;
	font-size: 15px;
	padding: 8px;
}

div#two {
	text-align: right;
	right: 0;
	bottom: 0;
	font-size: 18px;
	padding: 8px;
	position: absolute;
    margin-left: 0%;
    height: auto;
    background: rgba(0, 0, 0);
}