<!DOCTYPE>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Drift</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Bootstrap 3-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  <script type="text/javascript" src="/javascripts/angular/app.js"></script>

</head>
<body>

<!--<% if (isLoggedIn) { %>
<div class="top-user-bar">
  <div class="portrait">
    <img src="<%= user.portrait %>">
  </div>
  <div class="welcome">
    Hello, <%= user.displayName %>!
  </div>
  <div class="logout-button"><a href="/user/logout"><p class="logout">Sign out</p></a></div>
</div>
<% } else { %>
<div class="login-button"><a href="/user/auth/facebook"><p class="login">Sign up</p></a></div>
<% } %>-->
<div ng-app="driftApp">
  <!--<div class="main-div" ng-controller="MainController">
    <form id="form-tag-id" novalidate>
      <p class="text-form">I am {{name}}
      <div class="green-color">
        Name:
        <input placeholder="" class="input-amount" type="text" data-ng-model="name">
      </div>
    </form>
    <div >
      <p></p>
    </div>

  </div> -->

  <div class="page-header">
    <div class="drift-logo">
      DRIFT
    </div>
    <div class="user-profile">profile</div>
    <div class="drift-cart">cart</div>
  </div>
  <!-- Suggestions View -->

  <div ng-controller="SuggestionsViewController as suggestionsCtrl" class="container-fluid suggestions-container">
    <!-- Suggestions header -->
    <div class="row suggestions-header">
      <div class="tab-buttons-group">
        <div class="all-button tab-button" ng-click="tabPressed(1)" ng-class="{'tab-selected': currentTab == 1}">Events and Activities</div>
        <div class="events-button tab-button" ng-click="tabPressed(2)" ng-class="{'tab-selected': currentTab == 2}">Events</div>
        <div class="activities-button tab-button" ng-click="tabPressed(3)" ng-class="{'tab-selected': currentTab == 3}">Activities</div>
      </div>
    </div>

    <!-- Modal view -->
    <div class="suggestion-modal-container" ng-controller="SuggestionsModalController">
      <div class="suggestion-modal-cross" ng-click="closeModal()" ng-show="isModalVisible" ng-class="{'fade-in': isModalVisible}">
        <img src="../assets/modal-cross.png"/>
      </div>
      <div class="suggestion-modal" ng-show="isModalVisible" ng-class="{'fade-in': isModalVisible}">
        <img src="{{data.img}}"/>
        <div class="suggestion-modal-content">
          <h2><b>{{data.title}}</b></h2>
          <h4>{{data.date}}</h4>
          <p>{{data.text}}</p>
        </div>
      </div>

      <div class="suggestion-modal-overlay" ng-show="isModalVisible" ng-class="{'fade-in': isModalVisible}"></div>

    <div class="row">
      <!-- City nav bar -->
      <div class="city-nav-bar">
        <div ng-repeat="city in cities">
          <div class="city-button">{{city}}</div>
        </div>
      </div>

      <!-- Gallery-->
      <div class="suggestion-gallery">

        <div class="all-tab-content" ng-show="currentTab == 1">
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
          <div class="suggestion-element" ng-click="showModal()">

          </div>
        </div>
        <div class="timed-tab-content" ng-show="currentTab == 2">
          Timed tab content
        </div>
        <div class="free-tab-content" ng-show="currentTab == 3">
          Free tab content
        </div>


      </div>
    </div>
    </div>

  </div>
</div>
</body>
</html>
