body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

.header-container {
  width: 100%;
  height: 100%;
  background: url('../assets/landing.png');
  background-size: cover;

}

.suggestions-container {
  z-index: 0;
}
.page-header {
  width:100%;
  height: 45px;
  position:relative;
  display: inline-block;
  padding: 0;
  background: rgb(249,99,50);
  color: white;
  margin: 0;
  border: 0;
  font-size: 14px;
}

.drift-logo {
  display: inline-block;
  width: 50px;
  padding: 13px 10px 10px 26px;
}

.drift-cart {
  position: absolute;
  right: 3%;
  bottom: 35%;

}

.drift-cart:hover {
  background: white;
  color: rgb(236,94,47);
}

.user-profile {
  display: inline-block;
  width: 50px;
  position: absolute;
  right: 10%;
  bottom: 35%;

}

.user-profile:hover {
  background: white;
  color: rgb(236,94,47);
}

.suggestions-header{
  border: 1px;
  border-color: black;
  background: rgb(236,94,47);
  color: white;
  text-align: center;
  height: 100px;
  vertical-align: middle;
}

.tab-button {
  border: 2px solid rgb(236,94,47);
  width: 20px;
  display: inline;
  border-radius: 25px;
  padding: 10px;
  margin: 25px;
  font-size: 80%;
}

.tab-buttons-group {
  margin: 0 auto;
  padding-top:40px;
  width: 50%;
  text-align: center;
  height: 100%;
}

.tab-selected {
  border: 2px solid rgb(255,255,255);
}

.city-nav-bar {
  background: url('../assets/nav-side-bar.jpg') no-repeat;
  background-size: cover;
  width: 4%;
  height: 100%;
  text-align: center;
  padding:0;
  margin: 0;
  position: relative;
  float:left;
}

.city-spacer {
  padding-bottom: 15px;
}

.city-button {
  padding: 15px 7px 15px 0px;
  color: rgba(255,255,255,0.2);
  text-align:center;
}

.city-button:hover {
  color: rgba(255,255,255,1.0);
  background: rgba(255,255,255,0.3)

}

.all-tab-content {
  width: 96%;
  height: 100%;
  margin-left: 4%;
  overflow: auto;
}

.suggestion-element-overlay {
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.suggestion-element {
  border: 0px;
  height: 350px;
  position: relative;
  float:left;
  width: 33.3%;
}

.suggestion-element-drift {
  position: absolute;
  top:0;
  right: 0;
  height: 50px;
  width: 45px;
}

.suggestion-element-overlay:hover {
  opacity: 0.5;
}
.suggestion-element-container {
  background: rgba(255,255,255, 0.3);
  color: black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.suggestion-gallery {
  width: 95%
  position: relative;
  display: inline;
}
/*
.suggestion-modal-cross, .suggestion.modal, .suggestion-modal-content, .suggestion-modal-img{
  -webkit-animation-name: viewfadein;
  -moz-animation: viewfadein;
  -o-animation: viewfadein;
  animation-name: viewfadein;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
*/
.suggestion-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
  background: white;
  z-index: 2;

}

.suggestion-modal-img{
  position: absolute;
  display: block;
  top: 20px;
  left: 25px;
  margin: 0 auto;
  height: 300px;
  width: 550px;

}

.suggestion-modal-drift-button {
  position: absolute;
  top: 20px;
  right: 0px;
  height: 50px;
  width: 40px;
}

.suggestion-modal-content {
  position: absolute;
  top: 310px;
  height: 300px;
  width: 550px;
  margin: 0 25px;
  word-wrap: break-word;
}

.suggestion-modal-content h3 {
  width: 530px;
}
.suggestion-modal-content p{
  height: 180px;
  width: 550px;
  overflow:  scroll;
}

.suggestion-modal-cross {
  position: fixed;
  top: 2%;
  left: 75%;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.suggestion-modal-cross img{
  width: 20px;
  height: 20px;
}

.suggestion-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.65);
  z-index: 1;
}

.suggestion-modal-fadeout.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.suggestion-modal-fadeout.ng-leave.ng-leave-active {
  opacity:0;
}

@keyframes viewfadein{
  from{
    opacity:0;
  }

  to{
    opacity:1.0;
  }
}


.fadeOut.ng-hide {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
